@charset "UTF-8";



:root {
    --color-1: #c9a227;
    --color-2: #9C95257d;
    --color-3: #f8f9fa;
    --color-4: #e7e4dedf;
    --text-color: #000000;
    --text-color-2: #1d1a1a;

}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;



}

@media (max-width: 1020px) {

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    nav {
        margin-top: 30px;
        font-size: 1.2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin: 0;
    }

    .destaque,
    .left {
        font-size: 2rem;

    }

    .sub {
        font-size: 1.3rem;
    }

}



header {
    background-color: var(--text-color-2);
    padding: 20px;
    margin-bottom: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    flex-wrap: wrap;
}

body {
    background-color: var(--color-4);
}

.logo {
    display: flex;
    flex-direction: column;
}

header h1 {
    margin-top: 25px;
    color: var(--color-1);
    text-align: left;


}


.destaque {
    color: var(--color-1);
    display: block;
    font-size: 2.9rem;
    margin-left: 25px;
}

.left {
    color: var(--color-3);
    font-size: 2rem;
    padding: 0rem;
    font-size: 2.9rem;
    margin-left: 25px;

}

.sub {
    color: var(--color-1);
    margin-left: 25px;

    padding: 0rem;
    text-align: left;
    margin-bottom: 25px;
    font-size: 2.0rem;

}


nav {
    margin-top: 0px;
    display: flex;
    gap: 40px;
    font-size: 1.6em;
}

nav a {
    color: var(--color-3);
    text-decoration: none;
}

nav :hover {
    text-decoration: underline;
    color: var(--color-1);
}

main {
    margin-top: 0px;
}

#copo {
    background-image: url(imagens/BALANCA001.PNG);
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

}

#copo h2 {
    color: var(--color-3);
    font-size: 3.9rem;
    padding: 20px;
    margin-left: 25px;

}

#copo span {
    color: var(--color-1);
}

#copo p {
    color: var(--color-3);
    font-size: 1.9rem;
    margin: 0px 0px 30px 35px;


}

.consulta {

    border: 3px solid var(--color-2);
    padding: 10px;
    margin: 0px 5px 0px 25px;
    color: var(--color-3);
    text-decoration: none;
    background-color: var(--color-1);
}

.contato {
    border: 3px solid var(--color-2);
    padding: 10px;
    text-decoration: none;

    background-color: var(--text-color);
    color: var(--color-1);
    margin-left: 5px;
}

/*main*/

.historia {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 50px;

    color: var(--color-1);
    text-align: justify;
}

.imagem {
    flex: 1;
}

.imagem img {
    width: 100%;
    display: block;
}

.texto {
    flex: 1;
}

.historia h3 {
    text-align: center;
    padding: 20px;
    font-size: 1.4rem;

}

.historia h4 {
    color: var(--text-color);
    font-size: 2.6rem;
    padding: 10px 15px 15px 15px;
    font-weight: 100;
}

.historia p {
    color: var(--text-color);
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
}

.atuaçao {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.areas {
    flex: 1;
    text-align: center;
    background-color: var(--color-3);
    padding: 10px 30px;

    box-shadow: 0px 0px 15px rgba(33, 33, 33, 0.178);
}

.areas {
    font-size: 1.2rem;
    padding: 40px;
}

.areas h5 {
    font-size: 1.6rem;
    padding: 5px;
    font-weight: 700;
}

.areas p {
    font-size: 1.2rem;
}

#areas2 {
    padding: 49px;
}

#areas2 h5 {

    font-size: 1.6rem;
    padding: 10px;
}

.titulo {
    text-align: center;
}

.titulo h3 {

    text-align: center;
    padding: 20px;
    font-size: 1.7rem;
    color: var(--color-1)
}

.titulo h4 {
    font-size: 3rem;
    font-weight: 100;
    padding-bottom: 15px;
}

.nosso {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
    background-color: var(--text-color);
    color: var(--color-3);
}

.paranosso {
    font-size: 1.4rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 25px;
    flex: 1;

    border: 1px solid white;
    border-radius: 10px;
}

.nosso2 {
    padding-top: 20px;
    background-color: var(--text-color);

}

.nosso2 h3 {
    padding: 25px 25px 0px 25px;
    font-size: 2.5rem;
    text-align: center;
    color: var(--color-3);
    font-weight: 100;
}

.titulodepoimento h2 {

    font-size: 1.2rem;
    font-weight: 200;
    color: var(--color-1);
    text-align: center;
    padding: 20px;
}

.titulodepoimento h3 {
    font-size: 2.7rem;
    font-weight: 100;
    text-align: center;
}

#depoimentos {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 25px;
}

#depoimentos h4 {
    padding: 10px;
    font-size: 1.3rem;
}

#depoimentos p {
    font-size: 1.3rem;
    color: var(--color-1);
    padding: 20px;
}

#depoimentos div {
    box-shadow: 0px 0px 15px rgba(33, 33, 33, 0.178);
    flex: 1;
}

footer {

    background-color: var(--text-color);
}

.cabecalho div {
    flex: 0 1 auto;
}

.atuaçao,
.nosso,
#depoimentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cabecalho {
    font-size: 1.3rem;
    align-items: center;
    gap: 10px;
    padding: 15px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer p {
    color: var(--color-3);
    font-size: 1.2rem;
    padding-right: 10px;

}

.destaque1 {
    color: var(--color-1);
    display: block;
    font-size: 2rem;
    margin-left: 0px;
}

.left1 {
    color: var(--color-3);
    padding: 0rem;
    font-size: 2rem;
    margin-left: 0px;

}

.sub1 {
    color: var(--color-1);
    margin-left: 0px;

    padding: 0rem;
    text-align: left;
    margin-bottom: 25px;
    font-size: 1.4rem;

}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 700px) {

    #copo h2 {
        font-size: 2.7rem;
    }

    nav {
        flex-direction: column;
        gap: 20px;
    }

    .destaque,
    .left {
        font-size: 2.5rem;
    }

    .sub {
        font-size: 2.5rem;
        text-align: left;
    }

    .consulta,
    .contato {
        width: fit-content;
        margin: 0px 0px 0px 25px;
    }

    .destaque1,
    .sub1,
    .left1 {
        padding: 0px;
        font-size: 1rem;
    }

    .ultimo {
        font-size: 0.7rem;
    }

    .cabecalho p {
        padding: 0px;
        font-size: 0.7rem;
    }

}